@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  scroll-behavior: smooth;
}

section {
  padding-top: 4rem;
  /* header height */
  scroll-margin-top: 5rem;
  /* navbar offset */
}

html,
body {
  background-color: #000;
}